<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <div class="dashboard">
    <div class="dashboard__content">
      <ion-card class="top-card">
        <ion-card-header>
          <ion-card-subtitle>Track your practice better</ion-card-subtitle>
          <ion-card-title>Project Vivid</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Create some notes boi and watch the fireworks.
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
