<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay" class="side-menu">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Practicality</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <div class="center-button-container" *ngIf="!isLoggedIn()">
                    <ion-button routerLink="/account/login">Login</ion-button>
                </div>

                <div class="center-button-container" *ngIf="isLoggedIn() && user">
                    <ion-text> Hi, <a routerLink="/account/view">{{ user.username }}!</a> </ion-text>
                    <ion-button (click)="logout()" color="danger">Logout</ion-button>
                </div>
            </ion-content>
        </ion-menu>

        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
