<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Projects</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/projects/new">
        <ion-icon class="inline-icon" name="add"></ion-icon>
        New Project
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
