.list-and-editor-container {
  display: flex;
  height: 100%;

  .list-container {
    max-width: 275px;
    width: 100%;
    min-width: 100px;
    border: var(--border);

    .active-note {
      --background: var(--ion-color-light);
    }
  }

  .note-container {
    width: 100%;
  }
}

.saved-status {
  display: flex;
  align-items: center;
  padding-right: var(--default-padding);
  font-style: italic;
}

.saved-status-text {
  padding-right: 5px;
}
