<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Account Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Username: {{ user.username }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label>Name: {{ user.firstName }} {{ user.lastName }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="body" slot="start"></ion-icon>
      <ion-label>Level: {{ user.level }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>Notes created: {{ user.notesCreated }}</ion-label>
    </ion-item>

    <ion-item color="danger" (click)="logout()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Sign out</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
